<title><%= title %></title>

<body>
    <h1>Home Page for my practice application</h1>

    <a href="/users/sign-up"><button>Sign-up</button></a>
    <a href="/users/sign-in"><button>Sign-in</button></a>
</body>