<title><%= title %></title>

<body>
    <form action="" method="post">
        <p><input type="text" name="name" placeholder="name"></p>
        <p><input type="email" name="email" placeholder="email"></p>
        <p><input type="password" name="password" placeholder="password"></p>
        <p><input type="password" name="confirm password" id=""></p>
        <button type="submit"></button>
    </form>
</body>